.rating-container {
	display: inline-block;
}

.star {
	display: inline-block;
	width: 15px;
	height: 15px;
}

.empty-star {
	background-image: url("https://github.com/wbotelhos/raty/blob/master/lib/images/star-off.png?raw=true");
}

.full-star {
	background-image: url("https://github.com/wbotelhos/raty/blob/master/lib/images/star-on.png?raw=true");
}

.half-star {
	background-image: url("https://github.com/wbotelhos/raty/blob/master/lib/images/star-half.png?raw=true");
}